@*@model InputModel*@
@using EPrescribingSystem.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link rel="icon" href="~/img/Epre.png" />
    <link rel="stylesheet" href="~/assets2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets2/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets2/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets2/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/assets2/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/assets2/css/Bootstrap-4---Payment-Form.css">
    <link rel="stylesheet" href="~/assets2/css/Bootstrap-4-Calendar-No-Custom-Code.css">
    <link rel="stylesheet" href="~/assets2/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="~/assets2/css/Footer-Basic.css">

    <script src="~/assets/bootstrap/js/JavaScript.js"></script>
    <link href="~/assets/bootstrap/css/ProgressBarWindows.css" rel="stylesheet" />
    <!--Table Zama Ghost-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
  @*  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>

    @*<script>
            $(document).ready(function () {
                 $('.navbar-dark').find('[href="' + window.location.pathname + '"]').parent().addClass('active')
            });
        </script>*@
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #005; font-family: Montserrat, sans-serif; ">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" asp-area="Parent" asp-controller="Home" asp-action="PDashboard">
                    <div class="sidebar-brand-text mx-3"><span>Menu</span></div>
                </a>
                <br>
                <hr class="sidebar-divider my-0" />
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Dashboard" asp-action="Index"><i></i><span class="fas fa-tachometer-alt">&nbsp;&nbsp;Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Profile" asp-action="Profile"><i></i><span class="fas fa-user">&nbsp;&nbsp;Profile</span></a></li>
@*                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="PCalendar"><i></i><span class="fa fa-calendar">&nbsp;&nbsp;Calendar</span></a></li>*@
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Pharmacy" asp-action="Index"><i></i><span class="fas fa-book-medical">&nbsp;&nbsp;Pharmacies</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="User" asp-action="Index"><i></i><span class="fa fa-users">&nbsp;&nbsp;Users</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="MedicalPractice" asp-action="Index"><i></i><span class="fa fa-table">&nbsp;&nbsp;Records</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="ActiveIngredients" asp-action="Index"><i></i><span class="fas fa-sign-out-alt">&nbsp;&nbsp;Active Ingredients</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Disease" asp-action="Index"><i></i><span class="fas fa-sign-out-alt">&nbsp;&nbsp;Manage Diseases</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="ContraIndication" asp-action="Index"><i></i><span class="fas fa-sign-out-alt">&nbsp;&nbsp;Contra-Indications</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Medication" asp-action="Index"><i></i><span class="fas fa-briefcase-medical">&nbsp;&nbsp;Medication</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="MedicationInteraction" asp-action="Index"><i></i><span class="fas fa-briefcase-medical">&nbsp;&nbsp;Medication Interaction</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="SignIn"><i ></i><span class="fas fa-sign-out-alt">&nbsp;&nbsp;Log Out</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                     @*   <img width="180" height="70" src="~/assets/img/logo.png" />*@
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="Parent" asp-controller="Home" asp-action="Help"><b>Help</b></a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><b>Contact</b></a></li>
                            <li class="nav-item dropdown no-arrow mx-1">
                            <li class="nav-item dropdown no-arrow mx-1">

                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">@(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value) </span>
                                        @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                                        {
                                            <img class="border rounded-circle img-profile" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" />
                                        }
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" asp-area="Parent" asp-controller="Profile" asp-action="PProfile" asp-route-id="Id"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="SignIn"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i> Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div>

                        <!--Success Dialog Start-->

                        <div id="myModalSuccess" class="modal fade fa-text-width:30%;" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Success Message</h2>
                                        <button class="close" data-dismiss="modal">&times;</button>

                                    </div>

                                    <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                        
                                    </div>
                                @*    <div class="modal-footer">
                                        &nbsp;
                                        <button class="btn btn-info" data-dismiss="modal">Close</button>
                                    </div>*@
                                </div>
                            </div>
                        </div>

                        <!--Success Dialog End-->

                        @RenderBody()
                    </div>
                </div>

                <div class="text-center my-auto copyright">
                    <footer class="footer-basic">
                        <div class="social"><a href="https://www.instagram.com/?hl=en"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/home"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a></div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="list-inline-item"><a asp-area="" asp-controller="Account" asp-action="SignIn">Sign In</a></li>
                            <li class="list-inline-item"><a asp-area="" asp-controller="Account" asp-action="Account">Sign Up</a></li>
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><a href="#">Terms</a></li>
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        </ul>
                        <p class="copyright">Eprescribing System © @DateTime.Now.Year</p>
                    </footer>

                </div>
                @*<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>*@
            </div>

        </div>
    @*    <script src="~/assets2/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets2/js/chart.min.js"></script>
        <script src="~/assets2/js/bs-init.js"></script>
        <script src="~/assets2/js/Bootstrap-4---Payment-Form.js"></script>
        <script src="~/assets2/js/theme.js"></script>

        <script src="~/assets2/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script src="assets2/js/creative.js"></script>*@
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
@*        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
