@model IEnumerable<EPrescribingSystem.Models.MedicationInteraction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredientID2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredientID2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InteractionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InteractionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InteractionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
