@model IEnumerable<EPrescribingSystem.Models.Prescription>

@{
    ViewData["Title"] = "Prescriptions";
    Layout = "_Layout";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<div class="text-center">
    <h1>Prescription Records</h1>
</div>


<br />
<br />
<div class="row">
    <div class="align-items-center mb-4">
        <div class="table-responsive-sm">
        <table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionDate)
            </th>
  @*          <th>
                @Html.DisplayNameFor(model => model.DispensingDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Instruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRepeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medication)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Pharmacy)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionDate)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.DispensingDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRepeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRepeatsLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication.Name)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Pharmacy.AddressLine1)
            </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FirstName)   @Html.DisplayFor(modelItem => item.Doctor.LastName)
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.PrescriptionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionID">Delete</a>*@

                    <a asp-controller="ConditionDiagnosis" asp-action="Edit" asp-route-id="@item.PrescriptionID" class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i> Edit</a> |
                    <a asp-controller="ConditionDiagnosis" asp-route-id="@item.PrescriptionID" class="btn btn-outline-info"><i class="fas fa-eye"></i>Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PrescriptionID" class="btn btn-danger text-white"><i class="fas fa-trash-alt"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    function openSuccessModal(strMessage) {
        var myDiv = document.getElementById("MyModalSuccessAlertBody");
        myDiv.innerHTML = strMessage;
        $('#myModalSuccess').modal('show');

        window.setTimeout(function () {
            $('#myModalSuccess').modal('hide');
        }, 3000);
    }

    $(document).ready(function () {
        var msg = "@TempData["SuccessMessage"]";

        if (msg) {
            openSuccessModal(msg);
        }

        //debugger;
    });
</script>

<script>
    $(document).ready(function () {
        $('.navbar-dark').find('[href="' + window.location.pathname + '"]').parent().addClass('active')
    });
</script>