@model Pharmacy

@{
    ViewData["Title"] = "Update Pharmacy";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Pharmacy</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" method="post">
                    <div class="form-group">
                        <label asp-for="LicenseNumber" class="control-label"></label>
                        <input asp-for="LicenseNumber" class="form-control" />
                        <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressLine1" class="control-label"></label>
                        <input asp-for="AddressLine1" class="form-control" />
                        <span asp-validation-for="AddressLine1" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AddressLine2" class="control-label"></label>
                        <input asp-for="AddressLine2" class="form-control" />
                        <span asp-validation-for="AddressLine2" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Province</label>
                        <select asp-items="@(new SelectList(ViewBag.Provinces, "ProvinceID", "Name"))" class="form-control"></select>
                        <span asp-validation-for="Suburb.City.Province.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">City</label>
                        <select asp-items="@(new SelectList(ViewBag.Cities, "CityID", "Name"))" id="lstCity" class="form-control"></select>
                        <span asp-validation-for="Suburb.City.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Suburb</label>
                        <select asp-for="Suburb.SuburbID" asp-items="@(new SelectList(ViewBag.Suburbs, "SuburbID", "Name"))" id="lstSuburb" class="form-control"></select>
                        <span asp-validation-for="Suburb.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ContactNumber" class="control-label"></label>
                        <input asp-for="ContactNumber" class="form-control" />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Responsible Pharmacist</label>
                        <select asp-for="ApplicationUser.Id" asp-items="@(new SelectList(ViewBag.Users, "Value", "Text"))" class="form-control"></select>
                        <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="hidden" asp-for="PharmacyID" />
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#lstCity').change(function () {
            var selectedCity = $('#lstCity').val();

            var suburbSelect = $('#lstSuburb');
            suburbSelect.empty();

            if (selectedCity != null && selectedCity != '') {
                $.getJSON('@Url.Action("GetSuburbs", "Account")', { CityID: selectedCity }, function (suburbs) {
                    if (suburbs != null && !jQuery.isEmptyObject(suburbs)) {
                        suburbSelect.append($('<option/>', {
                            value: "",
                            text: "Select suburb..."
                        }));

                        /*  debugger;*/
                        $.each(suburbs, function (index, suburb) {
                            suburbSelect.append($('<option/>', {
                                value: suburb.value,
                                text: suburb.text
                            }));
                        });
                    }
                });


            }
        })
    })
</script>