@model EPrescribingSystem.Models.ConditionDiagnosis

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1>Condition Diagnosis</h1>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            Patient Details:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FirstName) @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ICD_10_CODE):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ICD_10_CODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisDate):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Allergy):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Allergy)
        </dd>

        
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary" asp-area="Doctor" asp-controller="ConditionDiagnosis" asp-action="Index">Back</a>
</div>
