@model EPrescribingSystem.Models.Prescription

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DispensingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeatsLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medication.MedicationID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeats2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeats2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeatsLeft2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Med2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Med2.MedicationID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeats3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeats3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeatsLeft3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine3.MedicationID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pharmacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pharmacy.AddressLine1)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PrescriptionID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
