@model EPrescribingSystem.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h2>Prescription Details</h2>

<div>
    <h4>@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName Prescription</h4>
    <hr />
    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Medication Name</th>
                <th>Instruction</th>
                <th>Number of repeats</th>
                <th>Number of repeats left</th>
                <th>Doctor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Medication.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Instruction)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NumberOfRepeats)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NumberOfRepeatsLeft)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Doctor.FirstName)  @Html.DisplayFor(model => model.Doctor.LastName)
                </td>
                <td>
                    @if (Model.NumberOfRepeatsLeft == 0)
                    {
                        <a asp-controller="Prescription" asp-action="Edit" asp-route-id="@Model.MedicationID" class="btn btn-outline-success disabled"><i class="fas fa-pencil-alt"></i>Dispense</a>
                        <a asp-controller="Prescription" asp-action="Delete" asp-route-id="@Model.MedicationID" class="btn btn-outline-danger disabled"><i class="fas fa-pencil-alt"></i>Reject</a>
                    }
                    else
                    {
                        <a asp-controller="Prescription" asp-action="Edit" asp-route-id="@Model.MedicationID" class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i>Dispense</a>
                        <a asp-controller="Prescription" asp-action="Delete" asp-route-id="@Model.MedicationID" class="btn btn-outline-danger"><i class="fas fa-pencil-alt"></i>Reject</a>
                    }
                </td>
               </tr>
           
                @if (Model.Instruction2 != null)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Med2.Name)
                    </td>
                               <td>
                        @Html.DisplayFor(model => model.Instruction2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeats2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeatsLeft2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Doctor.FirstName)  @Html.DisplayFor(model => model.Doctor.LastName)
                    </td>
                    <td>
                        @if(Model.NumberOfRepeatsLeft2 == 0){
                            <a asp-controller="Prescription" asp-action="Edit" asp-route-id="@Model.Med2ID" class="btn btn-outline-success disabled"><i class="fas fa-pencil-alt"></i>Dispense</a>
                            <a asp-controller="Prescription" asp-action="Delete" asp-route-id="@Model.Med2ID" class="btn btn-outline-danger disabled"><i class="fas fa-pencil-alt"></i>Reject</a>
                        }else {
                        <a asp-controller="Prescription" asp-action="Edit" asp-route-id="@Model.Med2ID" class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i>Dispense</a>
                        <a asp-controller="Prescription" asp-action="Delete" asp-route-id="@Model.Med2ID" class="btn btn-outline-danger"><i class="fas fa-pencil-alt"></i>Reject</a>
                        }
                    </td>
                </tr>
                }
            
                @if(Model.Instruction3!= null)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Medicine3.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.Instruction3)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeats3)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeatsLeft3)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Doctor.FirstName)  @Html.DisplayFor(model => model.Doctor.LastName)
                    </td>
                    <td>
                        @if (Model.NumberOfRepeatsLeft3 == 0)
                        {
                            <a asp-controller="Prescription" asp-action="Edit" asp-route-id="@Model.Medicine3ID" class="btn btn-outline-success disabled"><i class="fas fa-pencil-alt"></i>Dispense</a>
                            <a asp-controller="Prescription" asp-action="Delete" asp-route-id="@Model.Medicine3ID" class="btn btn-outline-danger disabled"><i class="fas fa-pencil-alt"></i>Reject</a>
                        }
                        else
                        {
                            <a asp-controller="Prescription" asp-action="Edit" asp-route-id="@Model.Medicine3ID" class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i>Dispense</a>
                            <a asp-controller="Prescription" asp-action="Delete" asp-route-id="@Model.Medicine3ID" class="btn btn-outline-danger"><i class="fas fa-pencil-alt"></i>Reject</a>
                        }
                    </td>
                </tr>
                }
        </tbody>

    </table>
</div>
<div>
   @* <a asp-action="Edit" asp-route-id="@Model.PrescriptionID">Edit</a> |*@
    <a asp-action="Index" asp-route-id="@Model.ApplicationUserID">Back to List</a>
</div>
