@model EPrescribingSystem.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
   @* <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DispensingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeatsLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medication.MedicationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeats2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeats2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeatsLeft2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Med2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Med2.MedicationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeats3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeats3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepeatsLeft3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine3.MedicationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pharmacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pharmacy.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)   @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FirstName)     @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>
    </dl>*@
    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Medication Name</th>
                <th>Number of repeats</th>
                <th>Number of repeats left</th>
                <th>Doctor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Medication.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NumberOfRepeats)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NumberOfRepeatsLeft)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Doctor.FirstName)  @Html.DisplayFor(model => model.Doctor.LastName)
                </td>

                   @* <a asp-controller="Medication" asp-action="Edit" asp-route-id="@item.MedicationID" class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i>Edit </a>*@
            </tr>
           
                @if (Html.DisplayFor(model => model.Med2.MedicationID) != null)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Med2.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeats2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeatsLeft2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Doctor.FirstName)  @Html.DisplayFor(model => model.Doctor.LastName)
                    </td>
                </tr>
                }
            
                @if (Html.DisplayFor(model => model.Medicine3.MedicationID) != null)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Medicine3.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeats3)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NumberOfRepeatsLeft3)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Doctor.FirstName)  @Html.DisplayFor(model => model.Doctor.LastName)
                    </td>
                </tr>
                }
        </tbody>

    </table>
</div>
<div>
   @* <a asp-action="Edit" asp-route-id="@Model.PrescriptionID">Edit</a> |*@
    <a asp-action="Index" asp-route-id="@Model.ApplicationUserID">Back to List</a>
</div>
