@model IEnumerable<EPrescribingSystem.Models.ContraIndication>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

@*Write Code*@
<div class="text-center">
    <h1>Contra-Indication Records</h1>
</div>

<br />
<br />
<div class="row">
    <div class="align-items-center mb-4">
        <div class="table-responsive-sm">
            <table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredient)
            </th>
            <th>@Html.DisplayNameFor(model => model.Disease.ICD_10_CODE)</th>
            <th>
                @Html.DisplayNameFor(model => model.Disease.Diagnosis)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                        <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredient.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disease.ICD_10_CODE)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Disease.Diagnosis)
            </td>
            <td>
                    <a asp-controller="ContraIndication" asp-action="Edit" asp-route-id="@item.ContraIndicationID" class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i>Edit</a> |
                    <a asp-controller="ContraIndication" asp-action="Details" asp-route-id="@item.ContraIndicationID" class="btn btn-outline-info"><i class="fas fa-eye"></i> Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContraIndicationID" class="btn btn-danger text-white"><i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
      </div>
    </div>
</div>

<div style="right: 25px;" class="text-white">
    <a asp-controller="ContraIndication" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add New Contra-Indication </a>
</div>
<script type="text/javascript">
    function openSuccessModal(strMessage) {
        var myDiv = document.getElementById("MyModalSuccessAlertBody");
        myDiv.innerHTML = strMessage;
        $('#myModalSuccess').modal('show');

        window.setTimeout(function () {
            $('#myModalSuccess').modal('hide');
        }, 3000);
    }

    $(document).ready(function () {
        var msg = "@TempData["SuccessMessage"]";

        if (msg) {
            openSuccessModal(msg);
        }

        //debugger;
    });
</script>

<script>
    $(document).ready(function () {
        $('.navbar-dark').find('[href="' + window.location.pathname + '"]').parent().addClass('active')
    });
</script>