@model IEnumerable<EPrescribingSystem.Models.ContraIndication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredient)
            </th>
            <th>@Html.DisplayNameFor(model => model.Disease.ICD_10_CODE)</th>
            <th>
                @Html.DisplayNameFor(model => model.Disease.Diagnosis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                        <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredient.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disease.ICD_10_CODE)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Disease.Diagnosis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContraIndicationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContraIndicationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContraIndicationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
