@model IEnumerable<EPrescribingSystem.Models.Prescription>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>My Prescription</h2>

<table id="example" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionDate)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.DispensingDate)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Instruction)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.NumberOfRepeats)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Medication)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Instruction2)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Quantity2)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.NumberOfRepeats2)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft2)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Med2)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Instruction3)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Quantity3)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.NumberOfRepeats3)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.NumberOfRepeatsLeft3)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Medicine3)
            </th>
            <td style="display:none">
                @Html.DisplayNameFor(model => model.Pharmacy)
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionDate)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.DispensingDate)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Instruction)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.NumberOfRepeats)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.NumberOfRepeatsLeft)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Medication.MedicationID)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Instruction2)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Quantity2)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.NumberOfRepeats2)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.NumberOfRepeatsLeft2)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Med2.MedicationID)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Instruction3)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Quantity3)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.NumberOfRepeats3)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.NumberOfRepeatsLeft3)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Medicine3.MedicationID)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Pharmacy.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)  @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FirstName)  @Html.DisplayFor(modelItem => item.Doctor.LastName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PrescriptionID">Prescription Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <script>
        $(document).ready(function () {
            $('.navbar-dark').find('[href="' + window.location.pathname + '"]').parent().addClass('active')
        });
    </script>
